spring:
  application:
    name: idioms-api

  datasource:
    url: jdbc:postgresql://localhost:5432/idioms
    username: postgres
    password: 090698Vova
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

server:
  port: 8080
